---
layout: page
---
{% include lang.html %}

<div class="page-category" align="center">
    <img src="/assets/img/avatars/{{ page.avatar}}" alt="{{page.name}}" width="112" height="112" alt="avatar" class="rounded-circle" />
    <h1>{{ page.name }}</h1>
    <p>{{ page.bio }}</p>
    <p class="profile-links">
        {% for network in page.social %}
            <a class="social-link" href="{{ network.url }}" target="_blank"><i class="fab fa-{{ network.title }} fa-fw"></i></a>
        {% endfor %}
        {% if page.email %}
        <a class="social-link" href="
          {% assign email = page.email | split: '@' %}
          {%- capture url -%}
            javascript:location.href = 'mailto:' + ['{{ email[0] }}','{{ email[1] }}'].join('@')
          {%- endcapture -%}" aria-label="email"><i class="fas fa-envelope fa-fw"></i></a>
        {% endif %}
    </p>
    <h2>Post by this author</h2>
</div>

{% assign df_strftime_m = site.data.locales[lang].df.archives.strftime | default: '/ %m' %}
{% assign df_dayjs_m = site.data.locales[lang].df.archives.dayjs | default: '/ MM' %}

<div id="archives" class="pl-xl-3">
    {%- assign author_posts = site.posts
        | where: "author", page.username
    -%}
    {%- for post in author_posts -%}
    {% assign cur_year = post.date | date: '%Y' %}

    {% if cur_year != last_year %}
      {% unless forloop.first %}</ul>{% endunless %}

      <time class="year lead d-block">{{ cur_year }}</time>
      {{ '<ul class="list-unstyled">' }}

      {% assign last_year = cur_year %}
    {% endif %}

    <li>
      {% assign ts = post.date | date: '%s' %}
      <span class="date day" data-ts="{{ ts }}" data-df="DD">{{ post.date | date: '%d' }}</span>
      <span class="date month small text-muted ms-1" data-ts="{{ ts }}" data-df="{{ df_dayjs_m }}">
        {{ post.date | date: df_strftime_m }}
      </span>
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </li>

    {% if forloop.last %}</ul>{% endif %}
  {% endfor %}
</div>
