---
layout: default
---
<div id="post-list" class="flex-grow-1 px-xl-1">
    <article class="card-wrapper card">
                <h1>Author : {{ page.name }}</h1>
                <img src="/assets/img/avatars/{{ page.avatar}}" width="112" height="112" alt="avatar" class="author-profile-img" />
                <p>{{ page.bio }}</p>

                <h2>Post by this author</h2>
                {%- assign author_posts = site.posts
                  | where: "author", page.username
                -%}
                {%- for post in author_posts -%}
                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {%- endfor -%}

    </article>
</div>

