---
layout: page
---
{% include lang.html %}

<div class="page-category">
                <h1>Author : {{ page.name }}</h1>
                <img src="/assets/img/avatars/{{ page.avatar}}" alt="{{author.name}}" width="112" height="112" alt="avatar" class="author-profile-img" />
                <p>{{ page.bio }}</p>

  <h2>Post by this author</h2>
  <ul class="content ps-0">
    {%- assign author_posts = site.posts
        | where: "author", page.username
    -%}
    {%- for post in author_posts -%}
      <li class="d-flex justify-content-between px-md-3">
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        <span class="dash flex-grow-1"></span>
        {% include datetime.html date=post.date class='text-muted small text-nowrap' lang=lang %}
      </li>
    {% endfor %}
  </ul>
</div>